/* Coolors Exported Palette - coolors.co/de6b48-5eb1bf-e5b181-e0a890-f4b9b2 */

/* HSL */
$color1: hsla(14%, 69%, 58%, 1);
$color2: hsla(189%, 43%, 56%, 1);
$color3: hsla(29%, 66%, 70%, 1);
$color4: hsla(18%, 56%, 72%, 1);
$color5: hsla(6%, 75%, 83%, 1);

/* RGB */
$color1: rgba(222, 107, 72, 1);
$color2: rgba(94, 177, 191, 1);
$color3: rgba(229, 177, 129, 1);
$color4: rgba(224, 168, 144, 1);
$color5: rgba(244, 185, 178, 1);